@import "../../scss/utils";
@import "../../scss/vars";

.button {
    @include font-size(16);

    background-color: $BRAND_COLOR;
    color: $BACKGROUND_COLOR;
    padding: 3px 5px;
}

.header {
    margin-bottom: 10px;
}
